<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gmair.dao.JpushRecordDao" >
  <resultMap id="BaseResultMap" type="gmair.entity.JpushRecord" >
    <id column="msg_id" property="msgId" jdbcType="VARCHAR" />
    <result column="platform" property="platform" jdbcType="VARCHAR" />
    <result column="noti_title" property="notiTitle" jdbcType="VARCHAR" />
    <result column="noti_content" property="notiContent" jdbcType="VARCHAR" />
    <result column="extras_text" property="extrasText" jdbcType="VARCHAR" />
    <result column="extras_pic_url" property="extrasPicUrl" jdbcType="VARCHAR" />
    <result column="time_to_live" property="timeToLive" jdbcType="INTEGER" />
    <result column="is_success" property="isSuccess" jdbcType="TINYINT" />
    <result column="fail_detail" property="failDetail" jdbcType="VARCHAR" />
    <result column="push_time" property="pushTime" jdbcType="TIMESTAMP" />
    <result column="android_received" property="androidReceived" jdbcType="INTEGER" />
    <result column="android_clicked" property="androidClicked" jdbcType="INTEGER" />
    <result column="ios_received" property="iosReceived" jdbcType="INTEGER" />
    <result column="ios_clicked" property="iosClicked" jdbcType="INTEGER" />
    <result column="audience" property="audience" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    msg_id, platform, noti_title, noti_content, extras_text, extras_pic_url, time_to_live, 
    is_success, fail_detail, push_time, android_received, android_clicked, ios_received, 
    ios_clicked, audience
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from jpushrecords
    where msg_id = #{msgId,jdbcType=VARCHAR}
  </select>
  <select id="getAllJpushRecordsWithoutStatistic" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from jpushrecords
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from jpushrecords
    where msg_id = #{msgId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="gmair.entity.JpushRecord" >
    insert into jpushrecords (msg_id, platform, noti_title, 
      noti_content, extras_text, extras_pic_url, 
      time_to_live, is_success, fail_detail, 
      push_time, android_received, android_clicked, 
      ios_received, ios_clicked, audience
      )
    values (#{msgId,jdbcType=VARCHAR}, #{platform,jdbcType=VARCHAR}, #{notiTitle,jdbcType=VARCHAR}, 
      #{notiContent,jdbcType=VARCHAR}, #{extrasText,jdbcType=VARCHAR}, #{extrasPicUrl,jdbcType=VARCHAR}, 
      #{timeToLive,jdbcType=INTEGER}, #{isSuccess,jdbcType=TINYINT}, #{failDetail,jdbcType=VARCHAR}, 
      #{pushTime,jdbcType=TIMESTAMP}, #{androidReceived,jdbcType=INTEGER}, #{androidClicked,jdbcType=INTEGER}, 
      #{iosReceived,jdbcType=INTEGER}, #{iosClicked,jdbcType=INTEGER}, #{audience,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="gmair.entity.JpushRecord" >
    insert into jpushrecords
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="msgId != null" >
        msg_id,
      </if>
      <if test="platform != null" >
        platform,
      </if>
      <if test="notiTitle != null" >
        noti_title,
      </if>
      <if test="notiContent != null" >
        noti_content,
      </if>
      <if test="extrasText != null" >
        extras_text,
      </if>
      <if test="extrasPicUrl != null" >
        extras_pic_url,
      </if>
      <if test="timeToLive != null" >
        time_to_live,
      </if>
      <if test="isSuccess != null" >
        is_success,
      </if>
      <if test="failDetail != null" >
        fail_detail,
      </if>
      <if test="pushTime != null" >
        push_time,
      </if>
      <if test="androidReceived != null" >
        android_received,
      </if>
      <if test="androidClicked != null" >
        android_clicked,
      </if>
      <if test="iosReceived != null" >
        ios_received,
      </if>
      <if test="iosClicked != null" >
        ios_clicked,
      </if>
      <if test="audience != null" >
        audience,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="msgId != null" >
        #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="platform != null" >
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="notiTitle != null" >
        #{notiTitle,jdbcType=VARCHAR},
      </if>
      <if test="notiContent != null" >
        #{notiContent,jdbcType=VARCHAR},
      </if>
      <if test="extrasText != null" >
        #{extrasText,jdbcType=VARCHAR},
      </if>
      <if test="extrasPicUrl != null" >
        #{extrasPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="timeToLive != null" >
        #{timeToLive,jdbcType=INTEGER},
      </if>
      <if test="isSuccess != null" >
        #{isSuccess,jdbcType=TINYINT},
      </if>
      <if test="failDetail != null" >
        #{failDetail,jdbcType=VARCHAR},
      </if>
      <if test="pushTime != null" >
        #{pushTime,jdbcType=TIMESTAMP},
      </if>
      <if test="androidReceived != null" >
        #{androidReceived,jdbcType=INTEGER},
      </if>
      <if test="androidClicked != null" >
        #{androidClicked,jdbcType=INTEGER},
      </if>
      <if test="iosReceived != null" >
        #{iosReceived,jdbcType=INTEGER},
      </if>
      <if test="iosClicked != null" >
        #{iosClicked,jdbcType=INTEGER},
      </if>
      <if test="audience != null" >
        #{audience,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="gmair.entity.JpushRecord" >
    update jpushrecords
    <set >
      <if test="platform != null" >
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="notiTitle != null" >
        noti_title = #{notiTitle,jdbcType=VARCHAR},
      </if>
      <if test="notiContent != null" >
        noti_content = #{notiContent,jdbcType=VARCHAR},
      </if>
      <if test="extrasText != null" >
        extras_text = #{extrasText,jdbcType=VARCHAR},
      </if>
      <if test="extrasPicUrl != null" >
        extras_pic_url = #{extrasPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="timeToLive != null" >
        time_to_live = #{timeToLive,jdbcType=INTEGER},
      </if>
      <if test="isSuccess != null" >
        is_success = #{isSuccess,jdbcType=TINYINT},
      </if>
      <if test="failDetail != null" >
        fail_detail = #{failDetail,jdbcType=VARCHAR},
      </if>
      <if test="pushTime != null" >
        push_time = #{pushTime,jdbcType=TIMESTAMP},
      </if>
      <if test="androidReceived != null" >
        android_received = #{androidReceived,jdbcType=INTEGER},
      </if>
      <if test="androidClicked != null" >
        android_clicked = #{androidClicked,jdbcType=INTEGER},
      </if>
      <if test="iosReceived != null" >
        ios_received = #{iosReceived,jdbcType=INTEGER},
      </if>
      <if test="iosClicked != null" >
        ios_clicked = #{iosClicked,jdbcType=INTEGER},
      </if>
      <if test="audience != null" >
        audience = #{audience,jdbcType=VARCHAR},
      </if>
    </set>
    where msg_id = #{msgId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="gmair.entity.JpushRecord" >
    update jpushrecords
    set platform = #{platform,jdbcType=VARCHAR},
      noti_title = #{notiTitle,jdbcType=VARCHAR},
      noti_content = #{notiContent,jdbcType=VARCHAR},
      extras_text = #{extrasText,jdbcType=VARCHAR},
      extras_pic_url = #{extrasPicUrl,jdbcType=VARCHAR},
      time_to_live = #{timeToLive,jdbcType=INTEGER},
      is_success = #{isSuccess,jdbcType=TINYINT},
      fail_detail = #{failDetail,jdbcType=VARCHAR},
      push_time = #{pushTime,jdbcType=TIMESTAMP},
      android_received = #{androidReceived,jdbcType=INTEGER},
      android_clicked = #{androidClicked,jdbcType=INTEGER},
      ios_received = #{iosReceived,jdbcType=INTEGER},
      ios_clicked = #{iosClicked,jdbcType=INTEGER},
      audience = #{audience,jdbcType=VARCHAR}
    where msg_id = #{msgId,jdbcType=VARCHAR}
  </update>
</mapper>